In [65]:
#connecting to the databse file
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

In [6]:
#checking whether there are any tables in the file
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)

In [7]:
#deleting a table that was in the database file
from sqlalchemy.exc import SQLAlchemyError
try: 
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  #print(e)
  error = str(e.__dict__['orig'])
  print(error)

no such table: student

In [9]:
#creating a table for entity LANGUAGE 
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS language(language text primary key,
                      l_iso3166_1_code text
                      );''')
    print("Language table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Language table is created successfully

In [10]:
#inserting data into the LANGUAGE table
r_set = my_conn.execute('''INSERT INTO 'language'
('language','l_iso3166_1_code') VALUES
('English', 'EN'),
('Korean', 'KR'),
('Russian', 'RU');''')

In [11]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)

In [12]:
#creating a table for entity VEHICLE
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS vehicle(v_id text primary key,
                      v_registration_id text,
                      v_manufacturer text,
                      v_model text,
                      v_color text,
                      v_odometer integer,
                      v_passanger_capacity integer
                      );''')
    print("Vehicle table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Vehicle table is created successfully

In [13]:
#inserting data into the VEHICLE table
r_set = my_conn.execute('''INSERT INTO 'vehicle'
('v_id','v_registration_id','v_manufacturer','v_model','v_color','v_odometer','v_passanger_capacity') VALUES
('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4),
('V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4),
('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4),
('V1003', '2020 DFX', 'Ford', 'Transit', 'Silver', 974, 2);''')

In [14]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)

In [15]:
#creating a table for entity REPAIR
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS repair(r_vehicle_id primary key,
                      r_final_cost integer,
                      r_action text,
                      r_date text,
                      v_id text,
                      v_registration_id text,
                      v_odometer integer
                      );''')
    print("Repair table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Repair table is created successfully

In [16]:
#inserting data into the REPAIR table
r_set = my_conn.execute('''INSERT INTO 'repair'
('r_vehicle_id','r_final_cost','r_action','r_date','v_registration_id', 'v_odometer') VALUES
('V1000', 200000, 'tire replacement', '2022/09/09', '2001 ABC', 4350),
('V1001', 100000, 'tire replacement', '2022/08/09', '2006 AFD', 2195),
('V1002', 250000, 'tire replacement', '2022/07/09', '2021 AHR', 509),
('V1003', 220000, 'tire replacement', '2022/02/09', '2020 DFX', 974);''')

In [17]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)

In [ ]:
#creating a table for entity COUNTRY
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS country(c_name text primary key,
                      c_iso3166_code text,
                      c_language text,
                      language_code text
                      );''')
    print("Country table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Country table is created successfully

In [18]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)

In [ ]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('language',)
('vehicle',)
('vehicle1',)
('repair',)

In [19]:
#creating a table for entity COUNTRY
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS country(c_name text primary key,
                      c_iso3166_code text,
                      c_language text,
                      language_code text
                      );''')
    print("Country table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Country table is created successfully

In [20]:
#inserting data into the COUNTRY table
r_set = my_conn.execute('''INSERT INTO 'country'
('c_name','c_iso3166_code', 'c_language','language_code') VALUES
('Korea', 'KR', 'Korean','KOR'),
('Canada', 'CA', 'English', 'ENG'),
('Uzbekistan', 'UZB', 'Uzbek', 'UZ');''')

In [21]:
#creating a table for entity OFFICIALS
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS officials(of_country text primary key,
                      of_city_id text,
                      of_name text,
                      of_role text,
                      of_language text
                      );''')
    print("Officials table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Officials table is created successfully

In [22]:
#inserting data into the OFFICIALS table
r_set = my_conn.execute('''INSERT INTO 'officials'
('of_country','of_city_id','of_name','of_role', 'of_language') VALUES
('Korea', 'Incheon','Brian','coach','Korean'),
('Canada', 'Toronto', 'Ryan', 'coach', 'English'),
('Uzbekistan', 'Tashkent', 'Tim', 'coach', 'Uzbek');''')

In [23]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)
('country',)
('officials',)

In [2]:
#creating a table for entity DRIVERS
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS drivers(d_license integer primary key,
                      d_name text,
                      clearance_level integer,
                      fatl_level integer null,
                      stlvt_level integer ,
                      v_id text,
                      v_availability,
                      language_code text,
                      b_reference_number integer
                      );''')
    print("Drivers table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Drivers table is created successfully

In [4]:
#inserting data into the DRIVERS table
r_set = my_conn.execute('''INSERT INTO 'drivers'
('d_license','d_name','clearance_level','fatl_level','stlvt_level','v_id','v_availability', 'language_code','b_reference_number') VALUES
('111111111111111111', 'Brian',4, 10, 5, 'V1000', 'available', 'ENG', 1999),
('111111111111111112', 'Tan', 4, 0, 0, 'V1001', 'available', 'KOR', 2000),
('111111111111111113', 'Bran', 4, 8, 0, 'V1002', 'available', 'ENG', 2001);''')

In [24]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)
('country',)
('officials',)

In [29]:
#creating a table for entity FATL
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS fatl(fatl_level integer null primary key ,
                      fatl_date text
                      );''')
    print("fatl table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

fatl table is created successfully

In [30]:
#creating a table for entity STVLT
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS stlvt(stlvt_level integer null primary key ,
                      stlvt_date text
                      stlvt_cert_authority
                      );''')
    print("stlvt table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

stlvt table is created successfully

In [31]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)
('country',)
('officials',)
('fatl',)
('stlvt',)

In [34]:
#creating a table for entity PICKUP_LOCATION
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS pick_location(p_street_city text primary key ,
                      p_type text
                      );''')
    print("pick up location table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

pick up location table is created successfully

In [36]:
#inserting data into the PICKUP_LOCATION table
r_set = my_conn.execute('''INSERT INTO 'pick_location'
('p_street_city','p_type') VALUES
('Inha Street Incheon', 'Hotel'),
('Second Street Incheon', 'Hotel'),
('Third Street Incheon', 'Hotel'),
('Fourth Street Incheon', 'Hotel')
;''')

In [37]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)
('country',)
('officials',)
('fatl',)
('stlvt',)
('pick_location',)

In [59]:
#creating a table for entity DROPOFF_LOCATION
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS dropoff_location(d_street_city text primary key,
                      d_type text
                      );''')
    print("drop off location table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

drop off location table is created successfully

In [53]:
#creating a table for entity ORDER
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS order_(b_reference_number integer primary key,
                      pickup_location_street_city text,
                      dropoff_location_street_city text
                      );''')
    print("Order  table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Order  table is created successfully

In [63]:
#inserting data into the ORDER table
r_set = my_conn.execute('''INSERT INTO 'order_'
('b_reference_number','pickup_location_street_city', 'dropoff_location_street_city') VALUES
('12346', 'Inha Street Incheon', 'First Street Incheon'),
('12347', 'Second Street Incheon', 'Inha Street Incheon'),
('12348', 'Inha Street Incheon', 'Fourth Street Incheon');''')

In [48]:
#creating a table for entity BOOKING
from sqlalchemy.exc import SQLAlchemyError
try:
    my_conn.execute('''
        CREATE TABLE IF NOT EXISTS booking(b_reference_number integer primary key,
                      b_start_date_time text,
                      b_end_date_time text,
                      b_start_odometer integer,
                      b_end_odometer integer,
                      of_country text,
                      of_city_id text,
                      d_license integer,
                      language_code text,
                      order_pickup text,
                      order_dropoff text
                      );''')
    print("Booking location table is created successfully")
except SQLAlchemyError as e:

  error = str(e.__dict__['orig'])
  print(error)

Booking location table is created successfully

In [64]:
#inserting data into the BOOKING table
r_set = my_conn.execute('''INSERT INTO 'booking'
('b_reference_number','b_start_date_time', 'b_end_date_time','b_start_odometer','b_end_odometer','of_country','of_city_id','d_license','language_code','order_pickup','order_dropoff') VALUES
('12346','2022/10/01 19:27', '2022/10/01 20:00', 2090, 3000, 'Canada', 'Toronto', 111111111111111111, 'ENG', 'Inha Street Incheon', 'First Street Incheon'),
('12347','2022/10/03 19:01', '2022/10/01 20:02', 794, 845, 'Korea', 'Incheon', 11111111111111112, 'KR', 'Inha Street Incheon', 'First Street Incheon');''')

In [54]:
#checking whether the table was created successfully
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('drivers',)
('language',)
('vehicle',)
('repair',)
('country',)
('officials',)
('fatl',)
('stlvt',)
('pick_location',)
('dropoff_location',)
('booking',)
('order_',)